.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left:50px;
  }
  
.goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 550px;
    left: 80px;
  }
  
.baloon {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 200px;
  }
  
.speach {
    font-size: 25px;
    position: absolute;
    z-index: 3 ;
    top: 120px;
    left: 220px;
  }
  
.bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 500px;
  }